h1 {
    margin: 1em auto;
    width: 50%;
  }
  
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  mat-form-field {
    max-width: 25em;
  }
  
  button[type="submit"] {
    width: 6em;
    height: 4em;
  }
  button[type="submit"]:disabled {
   background-color: lightgray;
  }
  
  .mat-button {
    background-color: crimson;
    color: white;
  }
  