<igx-card>
    <igx-card-media height="180px">
        <img [src]="business.imageUrl">
    </igx-card-media>

    <igx-card-header>
        <h3 igxCardHeaderTitle>{{ business.name }}</h3>
        <h5 igxCardHeaderSubtitle>{{ business.addess }}</h5>
    </igx-card-header>

    <igx-card-content>
        <p>Business description</p>
    </igx-card-content>

    <igx-card-actions>
        <button igxButton="raised"
            igxRipple
            igxRippleCentered="true"
            [routerLink]="['/businesses', business.businessId]" [routerLinkActive]="['link-active']">
            Book
        </button>
    </igx-card-actions>

</igx-card>