

<div style="display: flex; flex-direction:column; align-items: center;">
  <div *ngIf="!loaded" >
    <igx-circular-bar
    [indeterminate]="true"
    [textVisibility]="false"
  ></igx-circular-bar>
  </div>
  <div *ngIf="loaded">
    <div *ngFor="let timeslot of timeSlots" style="margin: 0 20px;">
      <button igxButton="outlined" (click)="requestBooking(timeslot)" [disabled]="!timeslot.isAvailable">
        {{ timeslot.slot.toString() | date: "HH:mm" }}
      </button>
    </div> 
  </div>
</div>

<igx-dialog #alert
    title="Login required"
    message="Please, log into your account to request a booking!"
    leftButtonLabel="OK"
    (leftButtonSelect)="alert.close()">
</igx-dialog>

<igx-dialog #confirm>
    <igx-dialog-title>
     <span>Confirm</span>
  </igx-dialog-title>

  <div *ngIf="timeslot">You have requested a booking  at {{timeslot.slot.toDate() | date:"HH:mm"}}. Please, proceed by confirming.</div>

  <div igxDialogActions>
      <button igxButton (click)="confirm.close()">Cancel</button>
      <button igxButton (click)="onConfirmRequestBooking($event)">Ok</button>
  </div>
</igx-dialog>