<h1>Create new business</h1>
<form  [formGroup]="businessForm" (ngSubmit)="onSubmit()">
    <igx-input-group>
        <input igxInput name="name" type="text" formControlName="name"/>
        <label igxLabel for="name">Business name</label>
    </igx-input-group>

    <igx-input-group>
        <input igxInput name="address" type="text"  formControlName="address"/>
        <label igxLabel for="address">Business address</label>
    </igx-input-group>

    <igx-input-group>
        <input igxInput name="image" type="text"  formControlName="imageUrl"/>
        <label igxLabel for="image">Image URL</label>
    </igx-input-group>

    <div *ngIf="!isEditing">
        <p>Please, keep in mind that once your business is created, working hours can be modified only by an admin!</p>
        <igx-input-group>
            <input igxInput name="Work-hours-start" type="number"  formControlName="workHoursStart"/>
            <label igxLabel for="Work-hours-start">Work hours start [0-23]</label>
        </igx-input-group>

        <igx-input-group>
            <input igxInput name="Work-hours-end" type="number" formControlName="workHoursEnd"/>
            <label igxLabel for="Work-hours-end">Work hours end [0-23]</label>
        </igx-input-group>

        <igx-input-group>
            <input igxInput name="timeSlotLength" type="number" formControlName="timeSlotLength"/>
            <label igxLabel for="timeSlotLength">TimeSlot length [0-23]</label>
        </igx-input-group>
    </div>
    <button igxButton="raised" type="submit" [disabled]="!businessForm.valid" >
        Submit
    </button>
</form>