@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
.navbar {
  justify-content: space-between;
  background-color: crimson;
}

.links {
  display: flex;
  flex-direction: row;
}

#mainLink {
font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 1.4em;
}

#mainLink a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

#mainLink a:hover {
  color: whitesmoke;
}

#mainLink span {
  font-size: 1.2em;
}
