<div id="backgroundDiv">

	<div id="firstHeader">
		<div>
			<img id="bookingSlotsImg" alt="Booking slots image" src="../assets/images/undraw_booking_re_gw4j.svg" />
		</div>
		<div class="headerAndList">
			<h1>Book an appointment for a local business now</h1>
            <h5 >Recieve an email notification and reminder for your booking</h5>

			<h2><a mat-button [routerLink]="['businesses']">Browse</a> local businesses</h2>
		</div>
	</div>

	<div id="secondHeader">
		<div class="headerAndList">
			<div id="secondHeaderText">
				<h2>..or <a mat-button [routerLink]="['businesses/createBusiness']" (click)="onClickPost()">Add</a> your business to the service</h2>
			</div>
			<div>
				<img id="calendarImg" alt="Calendar Image" src="../assets/images/undraw_date_picker_re_r0p8.svg" />
			</div>
		</div>
	</div>

	<div id="firstHeader">
		<div>
			<img id="communicateImg" alt="Communicate image" src="../assets/images/undraw_travel_together_re_kjf2.svg" />
		</div>
		<div class="headerAndList">
			<h2>Online bookings made easy!</h2>
		</div>
	</div>
</div>
