<h1 id="tableLabel">Businesses</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!businesses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="businesses">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Reservations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of businesses" style="height:200px;">
      <td>{{ business.name}}</td>
      <td>{{ business.address }}</td>
      <td>
        <app-dates-slots-panel [currentBusinessId]="business.businessId"></app-dates-slots-panel>
        
      </td>
    </tr>
  </tbody>
</table>

<app-user-bookings></app-user-bookings>
