<h2>View your businesses</h2>

<igx-list #businessesList>
    <igx-list-item *ngFor="let business of userBusinesses; let i = index;">
        <h4 igxListLineTitle><span style="margin: 20px;"><b>{{i}}</b></span>  <span>{{business.name}}</span></h4>
        <p igxListLineSubTitle>{{ business.address }}</p>
        <igx-suffix >
            <igx-icon (click)="requestDelete(business)">delete</igx-icon>
        </igx-suffix>
      </igx-list-item>
    <ng-template igxEmptyList>
        <p class="empty">You have not added any own businesses yet!</p>
    </ng-template>

    <ng-template igxDataLoading>
        Loading your businesses
        <igx-circular-bar
        [indeterminate]="true"
        [textVisibility]="false"
      ></igx-circular-bar>
    </ng-template>
</igx-list>

<igx-dialog #alert
    title="Deleting businesses"
    message="Are you sure you want to delete this business from the app?"
    leftButtonLabel="Cancel"
    (leftButtonSelect)="alert.close()"
    rightButtonLabel="OK"
    (rightButtonSelect)="deleteBusinessFromList()">
</igx-dialog>