
<table>
  <thead style="width: 100px">
    <tr>
     <th>{{ currentThreeDates[0] | date: "shortDate" }}</th>
      <th>{{ currentThreeDates[1] | date: "shortDate" }}</th> 
      <th>{{ currentThreeDates[2] | date: "shortDate" }}</th>
    </tr>
  </thead>
  <tbody >
    <button igxButton="raised" (click)="loadPrevThreeDates()">Prev 3 dates</button>
    <td *ngFor="let currentDate of currentThreeDates"> 
      <!-- <igx-circular-bar
      *ngIf="!timeSlotsLoaded"
      [indeterminate]="true"
      [textVisibility]="false"
    ></igx-circular-bar> -->
    <div style="display: flex; flex-direction:row;">
      <app-date-slots
      [date]="currentDate"
      [startHour]="currentBusiness.workHoursStart"
      [endHour]="currentBusiness.workHoursEnd"
      [intervalTime]="currentBusiness.timeSlotLength"
      [currentBusinessId]="currentBusiness.businessId"
      (timeSlotsLoaded)="handleTimeSlotsLoaded($event)"
      ></app-date-slots>
      <!-- [ngClass]="{'notLoaded': !timeSlotsLoaded}" -->
      
    </div>
  </td>
  <button igxButton="raised" (click)="loadNextThreeDates()">Next 3 dates</button>
  </tbody>
</table>
