<div id="wrapper" >
    <button igxButton="raised" (click)="loadPrevThreeDates()">Prev 3 dates</button>
    <div *ngFor="let currentDate of currentThreeDates" style="flex-direction:column;"> 
      
      <span style="margin: 0 20px;"><b>{{ currentDate | date }}</b></span>
      <!-- <igx-circular-bar
      *ngIf="!timeSlotsLoaded"
      [indeterminate]="true"
      [textVisibility]="false"
    ></igx-circular-bar> -->
    <div style="display: flex; flex-direction:row;">
      <app-date-slots
      [date]="currentDate"
      [startHour]="currentBusiness.workHoursStart"
      [endHour]="currentBusiness.workHoursEnd"
      [intervalTime]="currentBusiness.timeSlotLength"
      [currentBusinessId]="currentBusiness.businessId"
      (timeSlotsLoaded)="handleTimeSlotsLoaded($event)"
      ></app-date-slots>
      <!-- [ngClass]="{'notLoaded': !timeSlotsLoaded}" -->
      
    </div>
    </div>
<button igxButton="raised" (click)="loadNextThreeDates()">Next 3 dates</button>
</div>
